/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 29, 2016, 7:28:39 AM
    Author     : Arbor
*/

*{
    -fx-zuta: rgb(245, 186, 60);
    -fx-tamno-crna: rgb(33, 37, 46);
    -fx-svetlo-crna: rgb(48, 53, 64);
    -fx-siva: rgb(79, 84, 96);
    broj-dugmica-grupe: 3;
    broj-dugmica-podgrupe: 11;
    broj-dugmica-artikla: 19;
    -fx-boja-rezervacije1: yellow;
    -fx-boja-rezervacije2: blue;
    

}