/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 18, 2016, 4:10:43 PM
    Author     : Saša Stojković
*/

@import"config.css";

#header
{
    -fx-background-color: -fx-tamno-crna;
}

.myDialog{
    -fx-background-color: -fx-tamno-crna;
}
.myDialog > *.button-bar > *.container{
    -fx-background-color: -fx-tamno-crna;
    -fx-text-fill: white;

}
.myDialog *.button {
    -fx-background-color: -fx-tamno-crna;
    -fx-border-color: white;
    -fx-border-weight: 1px;
    -fx-font-size: 18px;
    -fx-font-family: KlavikaBold;
    -fx-text-fill: white;

}
.myDialog *.label {
    -fx-font-size: 14px;
    -fx-font-family: KlavikaBold;
    -fx-text-fill: white;
}
.myDialog *.text-fill,
.myDialog *.password-field {
    -fx-background-color: -fx-tamno-crna;
    -fx-text-fill: -fx-zuta;
    -fx-border-color: white;
    -fx-border-weight: 1px;
    -fx-font-size: 16px;
    -fx-prompt-text-fill: -fx-siva;
}

.myDialog *.text-fill,
.myDialog *.text-field {
    -fx-background-color: -fx-tamno-crna;
    -fx-text-fill: -fx-zuta;
    -fx-border-color: white;
    -fx-border-weight: 1px;
    -fx-font-size: 16px;
    -fx-prompt-text-fill: -fx-siva;
}

.myDialog:header *.header-panel{
    -fx-background-color: -fx-tamno-crna;
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-family: KlavikaBold;
    -fx-text-fill: white;
}

.alphaNumeric{
    -fx-background-color: -fx-siva;
}

.alphaNumeric *.button {
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, -fx-svetlo-crna 0%, -fx-tamno-crna 100%),
        -fx-svetlo-crna,
        -fx-tamno-crna,
        radial-gradient(center 50% 50%, radius 100%, -fx-svetlo-crna, -fx-tamno-crna);
    -fx-effect: dropshadow( gaussian , -fx-svetlo-crna , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-font-family: KlavikaBold;
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
}

.alphaNumeric *.button:pressed {
     -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, -fx-siva 0%, -fx-svetlo-crna 100%),
        -fx-siva,
        -fx-svetlo-crna,
        radial-gradient(center 50% 50%, radius 100%, -fx-siva, -fx-svetlo-crna);  
}

.alphaNumeric > *.button-bar > *.container *.button{
    -fx-background-color: -fx-tamno-crna;
    -fx-text-fill: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.alphaNumeric *.label {
    -fx-font-size: 14px;
    -fx-font-family: KlavikaBold;
    -fx-text-fill: white;
}
.alphaNumeric *.text-fill,
.alphaNumeric *.password-field {
    -fx-background-color: -fx-tamno-crna;
    -fx-text-fill: -fx-zuta;
    -fx-border-color: white;
    -fx-border-weight: 1px;
    -fx-font-size: 16px;
    -fx-prompt-text-fill: -fx-siva;
}

.alphaNumeric *.text-fill,
.alphaNumeric *.text-field {
    -fx-background-color: -fx-tamno-crna;
    -fx-text-fill: -fx-zuta;
    -fx-border-color: white;
    -fx-border-weight: 1px;
    -fx-font-size: 16px;
    -fx-prompt-text-fill: -fx-siva;
}

.alphaNumeric:header *.header-panel{
    -fx-background-color: -fx-siva;
}
.alphaNumeric:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-family: KlavikaBold;
    -fx-text-fill: white;
}

#pocetniEkran {
    -fx-background-image: url("img/start_screen.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1024 768;

}

#pocetniEkranPane {
    -fx-background-color: -fx-zuta;
}

#barMasterLogo {
    -fx-background-image: url("img/logo.png");
    -fx-background-size: 276px, 80px;
    -fx-background-repeat: no-repeat;
}

#loginForm {
    -fx-background-color: -fx-zuta;
    -fx-border-color: white;
    -fx-border-width: 1px;
}

#loginForm .button {
    -fx-text-fill: white;
    -fx-font-family: KlavikaBold;
    -fx-background-color: -fx-zuta;
    -fx-font-size: 34px;
    -fx-font-weight: bold;
}


#response {
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-family: KlavikaBold;
}

#response2 {
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-font-family: KlavikaBold;  
}

#lozinka {
    -fx-text-fill: white;
    -fx-background-color: -fx-zuta;
    -fx-font-size: 30px; 
    -fx-border-color: white;
    -fx-border-width: 1.5px;
    -fx-padding: 3px;
}

#clock {
    -fx-font-family: KlavikaBold;
    -fx-text-fill: white;
    -fx-font-size: 38px;
}

#confirmForm {
    -fx-background-color: -fx-tamno-crna;
    -fx-border-color: white;
    -fx-border-width: 1px;
}


#confirmForm .button {
    -fx-text-fill: white;
    -fx-font-family: KlavikaBold;
    -fx-background-color: -fx-tamno-crna;
    -fx-font-size: 34px;
    -fx-font-weight: bold;

}
#confirmForm .button #cancelButton2 {
    -fx-background-color: red;

}



#lozinka2 {
    -fx-text-fill: white;
    -fx-background-color: -fx-tamno-crna;
    -fx-font-size: 30px; 
    -fx-border-color: white;
    -fx-border-width: 1.5px;
    -fx-padding: 3px;
}

#cancelButton2 {
    -fx-text-fill: white;
    -fx-font-family: KlavikaBold;
    -fx-background-color: -fx-tamno-crna;
    -fx-font-size: 34px;
    -fx-font-weight: bold;
    -fx-border-color: white;
    -fx-border-radius: 0.2px;
    -fx-border-width: 1px;
}


/* prikaz Sala pocetak */

#prikazSalaGlavni {
    -fx-background-color: -fx-tamno-crna;
   
}


#imeKonobara {
    -fx-text-fill: white;
    -fx-font-family: KlavikaBold;
    -fx-font-size: 16px;
    -fx-text-alignment: left;
}

#casovnik {
    -fx-text-fill: white;
    -fx-font-family: KlavikaBold;
    -fx-font-size: 18px; 
}

#prikazSalaFooter *.button,
#hBoxDugmiciSaSalama *.button {
    -fx-background-color: -fx-tamno-crna;
    -fx-text-fill: white;
    -fx-font-family: KlavikaBold; 
    -fx-border-radius: 0.5px;
    -fx-border-color: white;
    -fx-border-width: 0 1 0 1;

 }
 
 #odjava { 
    -fx-background-color: -fx-tamno-crna;
    -fx-text-fill: white;
    -fx-font-family: KlavikaBold; 
    -fx-border-radius: 0.5px;
    -fx-border-color: white;
    -fx-border-width: 0 0 0 1;
 }

 #prikaziDodatneSale {
    -fx-font-size: 18;
    -fx-font-weight: bold;
 }
 

#hBoxDugmiciSaSalama *.button {
    -fx-background-color: -fx-tamno-crna;
    
}
/* porudzbina pocetak */

#porudzbinaHeader, #sekcijaPorudzbina, #porudzbinaFooter, #porudzbinaArtikli, #ArtikalGrupe, #ArtikalPodgrupe, #Artikal {
    -fx-background-color: -fx-tamno-crna;
    -fx-border-color: -fx-siva;
    -fx-border-width: 0.5px;
}

#prikazGostijuScrollPane > .viewport {
   -fx-background-color: transparent;
   
}
#prikazGostijuScrollPane {
    -fx-background-color: -fx-tamno-crna;
    -fx-border-color: -fx-siva;
}

#sekcijaDodavanjeGostiju *.button,
#porudzbinaFooter *.button{
    -fx-background-color: -fx-tamno-crna;
    -fx-border-color: -fx-siva;
    -fx-border-width: 0.5px;
    -fx-text-fill: -fx-zuta;
    -fx-font-size: 16px;
    -fx-font-family: KlavikaBold; 
}

#scrollArea *.button {
    -fx-background-color: -fx-tamno-crna;
    -fx-border-color: -fx-siva;
    -fx-border-width: 0.5px;
    -fx-text-fill: -fx-zuta;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: KlavikaBold; 
}

#sekcijaNaplata .label {
    -fx-text-fill: -fx-zuta;
    -fx-font-family: KlavikaBold; 
    -fx-font-size: 20px;
}

#idGrupeArtikalaNext {
    -fx-background-color: -fx-tamno-crna;
    -fx-font-family: KlavikaMedium;
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-border-color: grey;
}

.button.buttonArtikliGrupe {
    -fx-background-color: -fx-tamno-crna;
    -fx-font-family: KlavikaMedium;
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-border-color: grey;
    -fx-border-width: 2 0.5 2 0.5;
    height: 64px;
    width : 192px;
    min-height: 64px;
    min-width: 192px;
    max-height: 64px;
    max-width: 192px;
}

.button.buttonArtikliPodgrupe {
    -fx-background-color: -fx-svetlo-crna;
    -fx-font-family: KlavikaMedium;
    -fx-text-fill: white;
    -fx-font-size: 16;
    prefHeight : 64px;
    prefWidth : 192px;
    -fx-border-color: grey;
    -fx-border-width: 0.5px;
}

.button.buttonArtikli {
    -fx-background-color: -fx-siva;
    -fx-font-family: KlavikaMedium;
    -fx-text-fill: white;
    -fx-font-size: 14;
    prefHeight : 64px;
    prefWidth : 192px;
    -fx-border-color: grey;
    -fx-border-width: 0.5px;
}

.button.buttonArtikliPrazan {
    -fx-background-color: transparent;
    prefHeight : 64px;
}

.button.buttonGrupeSelektovana {
    -fx-border-color : -fx-zuta gray gray gray;
    -fx-text-fill: -fx-zuta;
    -fx-border-width : 2 0.5 2 0.5;
}

.button.buttonArtikliGrupeNextPrev {
    -fx-font-size: 18;
    -fx-text-fill: firebrick;
    -fx-font-weight: bold;
}

#prikazRacunaGosta .table-view  {
    -fx-background-color: -fx-siva;
    -fx-border-width: 1, 1, 0, 1;
}

#prikazRacunaGosta .table-view .table-cell {
    -fx-background-color: -fx-tamno-crna;
    -fx-font-family: KlavikaRegular;
    -fx-text-fill: white;
    -fx-border-width: 0;
    -fx-font-size: 12;
    -fx-selection-bar: white;
}


#prikazRacunaGosta *.table-row-cell .text {
   -fx-fill: white; 
}

#prikazRacunaGosta *.table-row-cell:selected .text {
       -fx-fill: -fx-zuta ;

}

#prikazRacunaGosta *.vbox {
    -fx-background-color: -fx-tamno-crna;
}

#prikazRacunaGosta .button {
    -fx-background-color: -fx-svetlo-crna;
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-border-color: -fx-zuta;
    -fx-border-width: 0.5;
}


#prikazRacunaGosta .scroll-bar .thumb { 
    -fx-background-color: -fx-svetlo-crna;

}

#prikazRacunaGosta .scroll-bar {
        -fx-background-color: -fx-tamno-crna;

}

#prikazRacunaGosta > .scroll-bar > .increment-button,
#prikazRacunaGosta > .scroll-bar > .decrement-button {
    -fx-background-color: -fx-tamno-crna;
    -fx-border-color:derive(gray,80%);
    -fx-padding:20px;
}

#prikazRacunaGosta > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}

#SelectHall {
    -fx-background-color: -fx-zuta;
    -fx-background-repeat: stretch;
    -fx-background-size: 1024 768; 
}

#prikazGostiju *.button {
    -fx-background-color: -fx-tamno-crna;
    -fx-font-family: KlavikaRegular;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 0.5;
    -fx-font-size: 12; 
}


#turaHeader {
    -fx-font-family: KlavikaRegular;
    -fx-text-fill: white;
    -fx-font-size: 12;   
}

.button.stoZauzet {
    -fx-background-color: red;
}

.button.stoSlobodan {
    -fx-background-color: brown;
}

.button.stoKonobarov {
    -fx-background-color: green;
}

.button.stoRezervisan {
    -fx-background-color: lightsalmon;
    -fx-opacity: 0.5;
    animation: blinker 1s linear infinite;
}

.button.rezervisanSto1 {
    -fx-background-color: blue;
    height: 17.0px; 
    width: 175.0px;
}
.button.rezervisanSto2 {
    -fx-background-color: red;
    height: 17.0px; 
    width: 175.0px;
}



.racunKolonaNaslov {
    -fx-background-color:  blanchedalmond;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

.racunKolonaNaslovPrekrivac {
    -fx-background-color:  transparent;
    -fx-border-color: green;
}

.racunKolonaRed {
    -fx-background-color: gray;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 12;
    
}
.racunKolonaRedPrekrivac {
    -fx-background-color:  transparent;
    -fx-border-color: red;
}

/*Promena konobara*/

#promenaKonobaraGlavni {
    -fx-background-color: -fx-tamno-crna;  
}

#zaPredajuScrollPane,
#predatiScrollPane {
        -fx-border-color: -fx-zuta;
}

#zaPredajuScrollPane > .viewport,
#predatiScrollPane > .viewport {
    -fx-background-color: -fx-tamno-crna; 
}

#promenaKonobaraGlavni *.button {
    -fx-background-color: -fx-tamno-crna;
    -fx-font-family: KlavikaBold;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 0.5;
    -fx-font-size: 18; 
}

#stoloviZaPredaju,
#stoloviPredati
{
    -fx-border-color: -fx-zuta;
    -fx-border-width: 0.5px;
    -fx-border-radius: 0.5px;
}

#stoloviZaPredaju *.button,
#stoloviPredati *.button
{
    -fx-background-color: -fx-svetlo-crna;
    -fx-text-fill: white;
    -fx-font-family: KlavikaBold;
    -fx-font-size: 18;
}

#promeniKonobaraSrednji *.button {
    -fx-background-color: -fx-tamno-crna;
    -fx-font-family: KlavikaBold;
    -fx-text-fill: -fx-zuta;
    -fx-border-color: -fx-zuta;
    -fx-border-width: 0.5;
    -fx-font-size: 18; 
    -fx-font-weight: bold;

}

#promeniKonobaraAkcije *.button {
    -fx-background-color: -fx-tamno-crna;
    -fx-font-family: KlavikaBold;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 0.5;
    -fx-font-size: 18; 
    -fx-font-weight: bold;
}

#promenaHeader *.label {
     -fx-font-family: KlavikaBold;
     -fx-text-fill: white;
     -fx-font-size: 18;  
}

/*kraj promena konobara*/


/* racuni za naplatu */

#racuniZaStampu {
    -fx-background-color: -fx-tamno-crna;
}
 
#racuniZaStampu *.button{
    -fx-background-color: -fx-tamno-crna;
    -fx-font-family: KlavikaBold;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 0.5;
    -fx-font-size: 18; 
}

/*#racuniZaStampu *.table-view {
    -fx-background-color: -fx-tamno-crna;
    -fx-font-family: KlavikaMedium;
    -fx-text-fill: white;
    -fx-font-size: 12; 
}*/

#tabelaSaRacunimaZaNaplatu .table-cell {
    -fx-background-color: -fx-tamno-crna;
    -fx-font-family: KlavikaMedium;
    -fx-text-fill: white;
    -fx-font-size: 12;
}

/* kraj racuni za naplatu */


/* pocetak lojalnost */

#lojalnostScrollPane .table-view  {
    -fx-background-color: -fx-tamno-crna;
}

#lojalnostScrollPane .table-view .table-cell {
    -fx-background-color: -fx-tamno-crna;
    -fx-font-family: KlavikaRegular;
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-selection-bar: white;
    -fx-border-width: 0.4 0.4 0.4 0.4;
    -fx-border-color: white;

}

#lojalnostScrollPane *.table-row-cell .text {
   -fx-fill: white;
}

#lojalnostScrollPane *.table-row-cell:selected .text {
       -fx-fill: -fx-zuta ;

}

#lojalnostGlavni {
    -fx-background-color: -fx-tamno-crna;
}

#lojalnostHeader *.button {
    -fx-background-color: -fx-tamno-crna;
    -fx-font-family: KlavikaBold;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 0.5;
    -fx-font-size: 18; 
}

#lojalnostScrollPane > .viewport {
    -fx-background-color: transparent;
}

#lojalnostSlova *.button {
    -fx-background-color: -fx-tamno-crna;
    -fx-font-family: KlavikaBold;
    -fx-text-fill: white;
    -fx-border-color: -fx-siva;
    -fx-border-width: 0.5;
    -fx-font-size: 16; 
}

#lojalnostFooter,
#lojalnostSlova, 
#lojalnostAkcije {
    -fx-border-color: -fx-siva;
    -fx-border-width: 0.5;
}
#lojalnostGostiGrupe *.button,
#lojalnostFooter *.button {
    -fx-background-color: -fx-tamno-crna;
    -fx-font-family: KlavikaBold;
    -fx-text-fill: -fx-zuta;
    -fx-border-color: -fx-siva;
    -fx-border-width: 0.5;
    -fx-font-weight: bold;
    -fx-font-size: 16; 
}

/* kraj lojalnost */

/* pocetak administracija */

#prikazAdministracijaGlavni {
    -fx-background-color: -fx-tamno-crna;
}

#prikazAdministracijaGlavni *.button {
    -fx-background-color: -fx-tamno-crna;
    -fx-font-family: KlavikaBold;
    -fx-text-fill: -fx-zuta;
    -fx-border-color: white;
    -fx-border-width: 0.5;
    -fx-font-weight: bold;
    -fx-font-size: 12;  
}


/* kraj administracija */


/* pocetak rezervacije */

#rezervacijeGlavni {
    -fx-background-color: -fx-tamno-crna;
}

#rezervacijeGlavni *.label {
     -fx-font-family: KlavikaBold;
     -fx-text-fill: white;
     -fx-font-size: 18;  
}

#rezervacijeGlavni *.button
{
    -fx-background-color: -fx-tamno-crna;
    -fx-font-family: KlavikaBold;
    -fx-text-fill: -fx-zuta;
    -fx-border-color: white;
    -fx-border-width: 0.5;
    -fx-font-weight: bold;
    -fx-font-size: 12; 
}

#rezervacijeGlavni .table-view  {
    -fx-background-color: -fx-tamno-crna;
}

#rezervacijeGlavni .table-view .table-cell {
    -fx-background-color: -fx-tamno-crna;
    -fx-font-family: KlavikaRegular;
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-selection-bar: white;
    -fx-border-width: 0.4 0.4 0.4 0.4;
    -fx-border-color: white;

}

#rezervacijeGlavni *.table-row-cell .text {
   -fx-fill: white;
}

#rezervacijeGlavni *.table-row-cell:selected .text {
       -fx-fill: -fx-zuta ;

}
.text-field
{
    -fx-background-color: -fx-tamno-crna;
    -fx-text-fill: -fx-zuta;
    -fx-border-color: white;
    -fx-border-weight: 1px;
    -fx-font-size: 16px;
    -fx-prompt-text-fill: -fx-siva;
    
}

.text-area
{
    -fx-background-color: -fx-tamno-crna;
    -fx-text-fill: -fx-zuta;
    -fx-border-color: white;
    -fx-border-weight: 1px;
    -fx-font-size: 16px;
    -fx-prompt-text-fill: -fx-siva;
}

.text-area .content {
    -fx-background-color: -fx-tamno-crna;
}


#scrollPaneRezervacije {
    -fx-border-width: 0.4 0.4 0.4 0.4;
    -fx-border-color: white;
}

#scrollPaneRezervacije .scroll-bar .thumb { 
    -fx-background-color: -fx-svetlo-crna;

}

#scrollPaneRezervacije .scroll-bar {
        -fx-background-color: -fx-tamno-crna;

}

#scrollPaneRezervacije > .scroll-bar > .increment-button,
#scrollPaneRezervacije > .scroll-bar > .decrement-button {
    -fx-background-color: -fx-tamno-crna;
    -fx-border-color:derive(gray,80%);
    -fx-padding:20px;
}

#scrollPaneRezervacije > .viewport {
   -fx-background-color: transparent;
}


#rezervacijeFooter,
#rezervacijeHeader,
#rezervacijeHeader
{
    -fx-border-color: -fx-siva;
    -fx-border-width: 0.5;
}


.date-picker .date-picker-popup
{
    -fx-font-size: 40;
    
}

.date-picker > .arrow-button {
    -fx-background-color: -fx-tamno-crna;
}

/* kraj rezervacije*/

/* pocetak sastavljanje rastavljanje */

#sastavljanjeRastavljanjeGlavni {
    -fx-background-color: -fx-tamno-crna;
}

#sastavljanjeRastavljanjeFooter {
    -fx-border-color: -fx-siva;
    -fx-border-width: 0.5;
}
#sastavljanjeRastavljanjeGlavni *.button
{
    -fx-background-color: -fx-tamno-crna;
    -fx-font-family: KlavikaBold;
    -fx-text-fill: -fx-zuta;
    -fx-border-color: white;
    -fx-border-width: 0.5;
    -fx-font-weight: bold;
    -fx-font-size: 12; 
}

#sastavljanjeRastavljanjeGlavni *.scroll-pane {
    -fx-border-width: 0.4 0.4 0.4 0.4;
    -fx-border-color: white;
}

#sastavljanjeRastavljanjeGlavni *.scroll-pane .scroll-bar .thumb { 
    -fx-background-color: -fx-svetlo-crna;

}

#sastavljanjeRastavljanjeGlavni *.scroll-pane .scroll-bar {
        -fx-background-color: -fx-tamno-crna;

}

#sastavljanjeRastavljanjeGlavni *.scroll-pane > .scroll-bar > .increment-button,
#sastavljanjeRastavljanjeGlavni *.scroll-pane > .scroll-bar > .decrement-button {
    -fx-background-color: -fx-tamno-crna;
    -fx-border-color:derive(gray,80%);
    -fx-padding:20px;
}

#scrollPaneRezervacije > .viewport {
   -fx-background-color: transparent;
}

/* kraj sastavljanje rastavljanje */


/* table view stil */
.table-view .column-header-background { 
    visibility: hidden; 
    -fx-padding: -1em;
}

.table-view *.scroll-bar:vertical *.thumb {
    visibility: hidden;
    -fx-padding: 0px;
    -fx-background-color: transparent;
}

.table-view *.scroll-bar:horizontal *.thumb {
    visibility: hidden;
    -fx-padding: 0px;
    -fx-background-color: transparent;

}

.table-view *.corner {
    -fx-background-color: -fx-tamno-crna;
}

.table-view *.scroll-bar:vertical *.track {
    visibility: hidden;
    -fx-padding: 0px;
    -fx-background-color: transparent;
}

.table-view *.scroll-bar:horizontal *.track {
    visibility: hidden;
    -fx-padding: 0px;
    -fx-background-color: transparent;

}

.table-view *.scroll-bar:vertical,
.table-view *.scroll-bar:horizontal
{
    -fx-background-color: transparent;
}

.table-view .scroll-bar:vertical *.increment-button,
.table-view .scroll-bar:vertical *.decrement-button,
.table-view .scroll-bar:vertical *.increment-arrow, 
.table-view .scroll-bar:vertical *.decrement-arrow,
table-view .scroll-bar:horizontal *.increment-button,
.table-view .scroll-bar:horizontal *.decrement-button,
.table-view .scroll-bar:horizontal *.increment-arrow, 
.table-view .scroll-bar:horizontal *.decrement-arrow
{
    -fx-background-color: -fx-tamno-crna;
    visibility: hidden;
    -fx-padding: -1em;
}